# Global OS & Logs
.DS_Store
Thumbs.db
*.log
.env*.local

# Frontend (Next.js & v0 sandbox)
frontend/__v0_runtime_loader.js
frontend/__v0_devtools.tsx
frontend/__v0_jsx-dev-runtime.ts
frontend/.snowflake/
frontend/.v0-trash/
frontend/.vercel/
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/

# Terraform
*.terraform/
*.templates/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
*terraform/tfplan
*.terraform.tfstate.lock.info
*vcsa.json