{
  "vsphere_server": "vcenter-001.playground.net",
  "vsphere_user": "tu_usuario",
  "vsphere_password": "tu_password",
  "datacenter_name": "Playground",
  "cluster_name": "Cluster-001",
  "datastore_name": "vSanDatastore",
  "network_name": "WPC - JTS 2026",
  "ovf_local_path": ".templates/Nested_ESXi8.0b_Appliance_Template_v1.ova",
  "resource_pool_name": "WPC",
  "esxi_deploy_host": "esxi-host-001.playground.net",
  "vm_count": 2,
  "vm_folder_path": "WPC/Tu Nombre",
  "vm_name_prefix": "esxi-vm",
  "vm_domain": ".tu.playground.net",
  "esxi_cpu_count": 4,
  "esxi_memory_mb": 8192,
  "esxi_ip_subnet": "10.106.3",
  "esxi_ip_start_offset": 150,
  "esxi_netmask": "255.255.255.0",
  "esxi_gateway": "10.106.3.1",
  "esxi_dns": "10.106.3.1",
  "esxi_password": "VMware1!",
  "esxi_ssh_enabled": true,
  "esxi_create_vmfs": false
}
