{
  "vsphere_server": "vcenter-001.playground.net",
  "vsphere_user": "pibar",
  "vsphere_password": "Wetcom011",
  "datacenter_name": "Playground",
  "cluster_name": "Cluster-001",
  "datastore_name": "vSanDatastore",
  "network_name": "WPC - JTS 2026",
  "resource_pool_name": "WPC",
  "vm_folder_path": "WPC/Patricio Ibar",
  "vm_domain": ".pi.playground.net",

  "esxi_ovf_local_path": ".templates/wpc-esxi-8u3-template.ova",
  "esxi_deploy_host": "esxi-04.playground.net",
  "esxi_name_prefix": "tf-esxi",
  "esxi_hosts_info": [
    {
      "user": "root",
      "password": "Wetcom01!",
      "address": "10.106.3.201"
    },
    {
      "user": "root",
      "password": "Wetcom01!",
      "address": "10.106.3.202"
    }
  ],
  "esxi_netmask": "255.255.255.0",
  "esxi_gateway": "10.106.3.1",
  "esxi_dns": "10.106.3.1",
  "esxi_password": "Wetcom01!",
  "esxi_ssh_enabled": true,
  
  "deploy_truenas": true,
  "truenas_template_name": "truenas-template.playground.net",
  "truenas_vm_prefix": "truenas-lab",
  "truenas_vm_ip": "10.106.3.210",
  "truenas_vm_netmask": 24,
  "truenas_vm_gateway": "10.106.3.1"
}
